<div class="page">
    <img src="quran-pages/{{pageToReadSignal()}}.jpg" (load)="onImageLoad()" (error)="onImageError()" [hidden]="showLoaderSignal()" />
</div>

<div class="controls" [hidden]="showLoaderSignal()">
    @if (continueDisabled) {
    <button type="button" class="btn btn-lg btn-light" (click)="end()">Alhamdulillah. We're done!</button>
    }
    @else {
    <button type="button" class="btn btn-lg btn-light" (click)="end()">I'm done for now.</button>
    <button type="button" class="btn btn-lg btn-light" (click)="continue()">I want to read more!</button>
    }
</div>

<div id="loading-mask" [hidden]="!showLoaderSignal()">
    <div class="spinner"></div>
</div>