<div class="room">
    <div class="welcome-message">
        Welcome to {{roomNameSignal()}}
    </div>
    <div class="notes">
        Just a tiny note before we start... &#128522;
        <br /><br />
        <span (click)="toggleCheck('1')"><img src={{checkPngSignal1()}} width="20" /> Please ensure that you are in a
            state of purity with a <span class="highlight">valid wudhu'</span>, and
            that you are <span class="highlight">covering your
                aurah</span>.</span>
        <br />
        <span (click)="toggleCheck('2')"><img src={{checkPngSignal2()}} width="20" /> Let's take a minute to do some
            <span class="highlight">istighfar</span> and to <span class="highlight">set
                our intentions</span> for this session.</span>
        <br />
        <span (click)="toggleCheck('3')"><img src={{checkPngSignal3()}} width="20" /> Please ensure that you <span
                class="highlight yellow">click either
                "I'm done for now" or "I want
                to
                read more"</span> after finishing a page. This ensures that the system succesfully records the page as
            completed.</span>
        <br /><br />
        All checked? <img src="check-mark.png" width="20" />
        <br />
        Let's start! Bismillah.
    </div>
    <button type="button" class="btn btn-lg btn-light" (click)="startSession()">Join the khitma!</button>
    <br />
    @if (clickedSignal() && !allCheckedSignal()) {
    <span class="text-danger">You have not check all the boxes. Please read through & check them all before starting.
        &#128521;</span>
    }
</div>