<div class="room">
    <div class="welcome-message">
        Welcome to {{roomNameSignal()}}
    </div>
    <div class="notes">
        Just a tiny note before we start... @if (roomCodeSignal() != 'khitmaforkemi') {&#128522;}
        <br /><br />
        <span (click)="toggleCheck('1')"><img src={{checkPngSignal1()}} width="20" /> Please ensure that you are in a
            state of purity with a <span class="highlight">valid wudhu'</span>, and
            that you are <span class="highlight">covering your
                aurah</span>.</span>
        <br />
        <span (click)="toggleCheck('2')"><img src={{checkPngSignal2()}} width="20" /> Let's take a minute to do some
            <span class="highlight">istighfar</span> and to <span class="highlight"
                [ngClass]="roomCodeSignal() == 'khitmaforkemi' ? 'blue' : ''">set
                our intentions</span> for this session.</span>
        @if (roomCodeSignal() == 'khitmaforkemi') {
        <br />
        <span (click)="toggleCheck('4')"><img src={{checkPngSignal4()}} width="20" /> <span class="highlight blue">I
                intend to read these pages of
                the Quran for Kafayat Oyekemi Bawa- Allah (nee Agoro) who returned to Allah on Friday 10th July
                2026.</span> </span>
        }
        <br />
        <span (click)="toggleCheck('3')"><img src={{checkPngSignal3()}} width="20" /> Please ensure that you <span
                class="highlight yellow">click either
                "I'm done for now" or "I want
                to
                read more"</span> after finishing a page. This ensures that the system successfully records the page as
            completed.</span>
        <!-- <span (click)="toggleCheck('4')"><img src={{checkPngSignal4()}} width="20" /> If a Champ doesn't finish her
            page within one (1) hour, it goes back into the pool to be read again – so <span
                class="highlight yellow">pages might not appear in order.</span> </span>
        <br /> -->
        <br /><br />
        All checked? <img src="check-mark.png" width="20" />
        <br />
        Let's start! Bismillah.
    </div>
    <button type="button" class="btn btn-lg btn-light" (click)="startSession()">Join the khitma!</button>
    @if (clickedSignal() && !allCheckedSignal()) {
    <div class="text-danger" style="padding-top: 20px;">You have not checked all the boxes. Please read through & check
        them all before starting.
        @if (roomCodeSignal() != 'khitmaforkemi') {&#128521;}</div>
    }
</div>