<div class="room">
    <div class="welcome-message">
        Welcome to {{roomNameSignal()}}
    </div>
    <div class="notes">
        Just a tiny note before we start... :)
        <br /><br />
        <span><img src="approve.png" width="20" /> Please ensure that you are in a state of purity with a <span
                class="highlight">valid wudhu'</span>, and
            that you are <span class="highlight">covering your
                aurah</span>.</span>
        <br />
        <span><img src="approve.png" width="20" /> Let's take a minute to do some <span
                class="highlight">istighfar</span> and to <span class="highlight">set
                our intentions</span> for this session.</span>
        <br />
        <span><img src="approve.png" width="20" /> Please ensure that you <span class="highlight yellow">click either
                "I'm done for now" or "I want
                to
                read more"</span> after finishing a page. This ensures that the system succesfully records the page as
            completed.</span>
        <br /><br />
        All checked? <img src="check-mark.png" width="20" />
        <br />
        Let's start! Bismillah.
    </div>
    <button type="button" class="btn btn-lg btn-light" (click)="startSession()">Join the khitma!</button>
</div>